.container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


body {
    font-family: 'Amaranth', Georgia, 'Times New Roman', Times, serif;
    background-color: #F3EDE4; 
    color: #6D5531; 
    margin: 0;
    padding: 30px;
    line-height: 1.6;
}

.header {
    background-color: #497B67; 
    background-image: url(wallpaper1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    height: 300px; 
    width: 100%; 
    color: white;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

section {
    background-color: #D3C9B6; 
    border: 1px solid #8F2A29; 
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 50px;
}

.content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px; 
    max-width: 100%; 
    width: 100%; 
    padding: 0; 
    margin: 0 auto; 
}

.text {
    flex: 1; 
    max-width: 50%; 
}

.text h2, .text h3, .text p {
    margin-bottom: 15px;
}

.video {
    flex: 1; 
    max-width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%; 
    max-width: 700px; 
    height: 300px; 
    border-radius: 8px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        gap: 10px; 
    }

    .text, .video {
        max-width: 100%; 
    }
}

h1 {
    font-size: 6rem;
    color: white;
    margin-bottom: 10px;
}


h2 {
    font-size: 2rem;
    color: #497B67; 
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    color: #6D5531; 
    margin-bottom: 20px;
}

p {
    font-family: Spectral;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9rem;
    color: #8F2A29; 
}
